body {
  background-color: #F8F8FF;
}

header, h1 {
  margin: 20px auto;
  display: flex;
}

.game-canvas {
  border: 1px solid black;
  margin: auto;
  display: block;
  /*background: url(images/pong-field.png);*/
}
