
body {
  background-color: crimson;
}

header {
  width: 600px;
  height: 100px;
  margin: auto;
}

h1 {
  padding-top:10px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 100px;
  color: yellow;
  text-shadow: 1px 2px 5px black;
}

.container-scores {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 600px;
  height: 70px;
  font-family: 'Jura', sans-serif;
  font-weight: 600;
  font-size: 20px;
  background-color: yellow;
}

.left-score, .right-score {
  text-align: center;
  flex: auto;
  width: 200px;
  height: 40px;
  padding-top: 15px;
}

.left-score {
  color: red;
}

.right-score {
  color: blue;
}
 .levels {
   display: flex;
   margin: 10px auto 40px;
   width: 400px;
   height: 20px;
 }

 .start-game {
   font-family: 'Anton', sans-serif;
   font-size: 20px;
   margin: auto;
   border: none;
   width: 100px;
   outline: none;
   width: 200px;
   height: 40px;
   vertical-align: middle;
   background-color: yellow;
 }

 .start-game:hover {
   background-color: gold;
   cursor: pointer;
   color: crimson;

 }

.game-canvas {
  margin: 0 auto 2px;
  display: block;
  background: url(images/pong-overlay.png);
}
